@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --Dark-Blue: hsl(209, 23%, 22%); /* Dark Mode Elements */
  --Very-Dark-Blue: hsl(207, 26%, 17%); /* Dark Mode Background */
  --Very-Dark-Blue: hsl(200, 15%, 8%); /* Light Mode Text */
  --Dark-Gray: hsl(0, 0%, 52%); /* Light Mode Input */
  --Very-Light-Gray: hsl(0, 0%, 98%); /* Light Mode Background */
  --White: hsl(0, 0%, 100%); /* Dark Mode Text & Light Mode Elements */
}

* {
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

body {
  background-color: var(--Very-Light-Gray);
  font-size: 14px;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: var(--Very-Dark-Blue);
}


/* Header */
header {
  background-color: var(--White);
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header h1 {
  font-size: 14px;
  font-weight: 800;
}

/* Dark Mode Button */
#theme-toggle-btn {
  border: none;
  background-color: inherit;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#theme-toggle-btn p {
  font-weight: 600;
  margin: 0;
}

#dark-theme-icon {
  width: 15px;
  margin-right: 10px;
}


/* Navigation */
nav {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

nav #search {
  width: 100%;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem 1rem 1rem 4rem;
  margin-bottom: 2rem;
  color: var(--Dark-Gray);
  font-size: 12px;
}

nav #search-icon {
  position: absolute;
  top: 38px;
  left: 40px;
  width: 20px;
  color: var(--Dark-Gray);
}

nav #filter-by-region {
  border: none;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--White);
  padding: 1rem 1rem 1rem 2rem;
  text-align: left;
  font-size: 12px;
  width: 200px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

nav #filter-menu {
  position: absolute;
  top: 156px;
  width: 168px;
  margin: 0;
  padding: 0.75rem 1rem;
  font-size: 12px;
  background-color: var(--White);
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  list-style: none;
}

nav #filter-menu li {
  padding: 0.25rem 1rem 0.25rem 1rem;
  cursor: pointer;
}

#filter-by-region p {
  margin: 0;
}

#chvron-down, #chvron-up {
  width: 10px;
}

#chvron-up {
  display: none;
}


/* Main */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* Card */
.card a {
  text-decoration: none;
  color: var(--Very-Dark-Blue);
  display: flex;
  flex-direction: column;
  background-color: var(--White);
  border-radius: 7px;
  width: 260px;
  margin: 1.2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card img {
  border-radius: 7px 7px 0 0;
  height: 160px;
  object-fit: cover;
}

.card-body {
  margin: 1.5rem 1.5rem 2rem 1.5rem;
}

.card-body h2 {
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 800;
  font-size: 18px;
}

.card-body p {
  margin: 0;
  margin-bottom: 0.4rem;
}

.card-body p strong {
  font-weight: 600;
}